:root {
    --primary-text: #000000;
    --secondary-text: #fff;
    --primary-background: #fff;
    --accent: #dadbf1;
    --focus: #000000;
    --primary-button: #4C5FD5;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Roboto;
}

body {
    overflow: auto;
}

button {
    color: var(--secondary-text);
    cursor: pointer;
    border-radius: 4px;
}

.report {
    width: 229px;
    height: 48px;
    font-size: 25px;
    background-color: rgb(25, 26, 27);
    border: solid 1px white;
}

.signin {
    background-color: var(--primary-button);
    font-size: 25px;
    width: 140px;
    height: 50px;
    border: none;
}

.signin:hover {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.container {
    display: grid;
    height: 100vh;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 89px 397px 970px 402px;
    grid-template-areas: 
    "topbar topbar topbar topbar"
    "search search search search"
    "helpcenter helpcenter helpcenter helpcenter"
    "footer footer footer footer";
}

header {
    background-color: var(--focus);
    grid-area: topbar;
    display: block;
}

.search {
    background-color: var(--accent);
    grid-area: search;
}

.searchbar-container {
    text-align: center;
    margin-top: 30px;
}

.search-input {
    width: 688px;
    height: 64px;
    text-decoration: black;
    padding: 0px 15px 0px 15px;
    border: solid 1px black;
    outline: none;
    border-radius: 4px;
    transition: border 0.15s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32);
}

.search-input::placeholder {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    opacity: 1; /* Firefox */
}

.search-input:focus {
    border: solid 1px #4C5FD5;
}

.heading {
    font-size: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 100px;
}

.helpcenter {
    grid-area: helpcenter;
    display: grid;
    gap: 20px;
    grid-template-columns: 759px 1fr;
    grid-template-rows: 206px 206px;
}

.first {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.title {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
}

.description {
    width: 600px;
    font-size: 24px;
    line-height: 32px;
}

.link {
    display: inline-block;
    color: var(--primary-button);
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
}

.link:hover {
    text-decoration: underline;
}

.helpcenter-container {
    display: grid;
    width: min-content;
    margin-top: 181px;
    margin-left: 207px;
    gap: 20px;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 
    "image info";
}

.helpcenter-img {
    grid-area: image;
}

.helpcenter-info {
    grid-area: info;
}

footer {
    grid-area: footer;
    background-color: var(--focus);
}